<section class="main-hero-section">
  <div class="hero-background-wrapper">
    <div class="hero-background-image"></div>
  </div>
  <div class="hero-content">
    <div class="all-caps title">shop quality plants and</div>
    <h1>
      Give a gift to the one
      <span class="cursive">you </span> <span class="cursive">love</span>.
    </h1>
    <div class="button-wrapper">
      <a href="/" class="button inline-block"
        ><div class="button-text">Shop Now</div>
        <i class="ph ph-arrow-right-bold"></i>
      </a>
    </div>
  </div>
  <div class="hero-reviews-wrapper">
    <div class="starts-content">
      <p class="feature-paragraph no-margin">Lovely Plants</p>
      <div style="margin-right: 2em; margin-left: 2em">
        <img
          src="assets/images/site/heart-tobi-alt.svg"
          loading="lazy"
          width="30"
          class="stars-image"
        />
        <img
          src="assets/images/site/heart-tobi-alt.svg"
          loading="lazy"
          width="30"
          class="stars-image"
        />
        <img
          src="assets/images/site/heart-tobi-alt.svg"
          loading="lazy"
          width="30"
          class="stars-image"
        />
      </div>

      <p class="feature-paragraph no-margin">Wonderful Prices</p>
    </div>
  </div>
</section>
