<section class="section margin-top-9-5">
  <div class="container no-padding-mobile">
    <div class="inner-spacing">
      <div class="breadcrumbs-wrapper">
        <a href="#" class="breadcrumb-link">go back</a>
      </div>
      <div class="product-description-wrapper">
        <div class="product-description-images-wrapper">
          <img
            src="assets/images/categories/sarah-dorweiler-unsplash.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 45vw"
            class="product-image-description main"
          />
          <div
            class="image-gallery-collection-list dynamic-list dynamic-items-repeater"
          >
            <div role="list" class="dynamic-items">
              <div
                role="listitem"
                class="image-gallery-item dynamic-item dynamic-repeater-item"
              >
                <img
                  src="assets/images/categories/vadim-kaipov-unsplash.jpg"
                  loading="lazy"
                  class="product-image-description"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="product-description-content-wrapper">
          <div>
            <div class="all-caps">Category</div>
            <h3>Sample Product</h3>
            <div class="product-price-wrapper">
              <div class="main-product-price">$&nbsp;4.00&nbsp;</div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
            <div class="product-icons-wrapper">
              <div class="product-single-icon-wrapper">
                <i class="product-icon ph ph-leaf-bold"></i>
                <div class="all-caps">Sustainable</div>
              </div>
              <div class="product-single-icon-wrapper">
                <i class="product-icon ph ph-shield-star-bold"></i>

                <div class="all-caps">High quality</div>
              </div>
              <div class="product-single-icon-wrapper">
                <i class="product-icon ph ph-flag-bold"></i>
                <div class="all-caps">Usa made</div>
              </div>
              <div class="product-single-icon-wrapper last">
                <i class="product-icon ph ph-truck-bold"></i>
                <div class="all-caps">Fast shipping</div>
              </div>
            </div>
          </div>
          <div>
            <div class="button-wrapper">
              <a href="/" class="button inline-block"
                ><div class="button-text">Add to Cart</div>
                <i class="ph ph-arrow-right-bold"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
