<section class="section margin-top-9-5" style="padding-top: 6.5em">
  <div class="container no-padding-mobile">
    <div class="inner-spacing">
      <div class="product-description-wrapper">
        <div class="product-description-images-wrapper">
          <div class="breadcrumbs-wrapper" style="margin: 0 auto">
            <a routerLink="/products" class="breadcrumb-link">go back</a>
          </div>
          <img
            src="{{ product?.imageUrl }}"
            loading="lazy"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 45vw"
            class="product-image-description main"
          />
          <div
            class="image-gallery-collection-list dynamic-list dynamic-items-repeater"
          >
            <div role="list" class="dynamic-items">
              <div
                role="listitem"
                class="image-gallery-item dynamic-item dynamic-repeater-item"
              >
                <img
                  src="{{ product?.imageAltUrl }}"
                  loading="lazy"
                  class="product-image-description"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="product-description-content-wrapper"
          style="padding-top: 2rem"
        >
          <div>
            <h3>{{ product?.name }}</h3>
            <div class="product-price-wrapper">
              <div class="main-product-price">
                {{ product?.unitPrice | currency: "USD" }}
              </div>
            </div>
            <p class="product-detail-description">
              {{ product?.description }}
            </p>
            <div class="product-icons-wrapper">
              <div class="product-single-icon-wrapper">
                <i class="product-icon ph ph-leaf-bold"></i>
                <div class="all-caps">Sustainable</div>
              </div>
              <div class="product-single-icon-wrapper">
                <i class="product-icon ph ph-shield-star-bold"></i>

                <div class="all-caps">High quality</div>
              </div>
              <div class="product-single-icon-wrapper">
                <i class="product-icon ph ph-flag-bold"></i>
                <div class="all-caps">Usa made</div>
              </div>
              <div class="product-single-icon-wrapper last">
                <i class="product-icon ph ph-truck-bold"></i>
                <div class="all-caps">Fast shipping</div>
              </div>
            </div>
          </div>
          <div>
            <div class="button-wrapper">
              <button
                
              
              (click)="addToCart()"
                class="button inline-block"
                style="text-align: center; justify-content: center"
              >
                <div class="button-text">Add to Cart</div>
                <i class="ph ph-arrow-right-bold"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
