<section class="section margin-tb-9-5">
  <div class="container">
    <div class="heading-wrapper-centered"><h2>Our Values</h2></div>
    <div class="layout-grid grid-4-column">
      <div class="about-wrapper">
        <div class="about-image">
          <img
            src="assets/images/site/fast_shipping_icon.png"
            loading="lazy"
            width="220"
          />
        </div>
        <h4>Fast shipping and careful handling</h4>
      </div>
      <div class="about-wrapper">
        <div class="about-image">
          <img
            src="assets/images/site/sustainable_process_icon.png"
            loading="lazy"
            width="220"
          />
        </div>
        <h4>Eco-friendly and re-usable packaging</h4>
      </div>
      <div class="about-wrapper">
        <div class="about-image">
          <img
            src="assets/images/site/high_quality_icon.png"
            loading="lazy"
            width="220"
          />
        </div>
        <h4>High-quality service and customer care</h4>
      </div>
      <div class="about-wrapper">
        <div class="about-image">
          <img
            src="assets/images/site/made_in_USA_icon.png"
            loading="lazy"
            width="220"
          />
        </div>
        <h4>Patriotic and based solely in America</h4>
      </div>
    </div>
    <div class="text-centered">
      <div class="margin-top-6">
        <a href="/shop" class="button inline-block"
          ><div class="button-text">Shop Now</div>
          <i class="ph ph-arrow-right-bold"></i>
        </a>
      </div>
    </div>
  </div>
</section>
