<section class="section margin-tb-9-5">
  <div class="container">
    <header class="category-header">
      <h2>Category</h2>
      <input class="text-container-search" dir="ltr" style="width: 324px" />
    </header>
    <div class="dynamic-list">
      <div role="list" class="dynamic-items">
        <div role="listitem" class="dynamic-item">
          <div
            class="flex-wrapper reverse-wrap"
            style="padding-left: 2em; padding-right: 2em"
          >
            <div class="inner-padding-right">
              <div class="sticky-section">
                <div class="dynamic-list">
                  <div
                    role="list"
                    class="menu-vertical text-small dynamic-items"
                  >
                    <div
                      role="listitem"
                      class="dynamic-item"
                      *ngFor="let tempCategory of categories"
                    >
                      <a
                        href="/categories/"
                        aria-current="page"
                        class="hover-link link-current"
                        >{{ tempCategory?.categoryName }}</a
                      >
                    </div>
                    <div role="listitem" class="dynamic-item">
                      <a href="/categories/" class="hover-link">Shop All</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 100%">
              <div class="dynamic-list">
                <div
                  role="list"
                  class="product-grid-twos sidebar dynamic-items"
                >
                  <div
                    role="listitem"
                    class="dynamic-item"
                    *ngFor="let tempProduct of products"
                  >
                    <a href="/" class="product-link inline-block"
                      ><div class="product-link-image-wrapper">
                        <img
                          src="{{ tempProduct?.imageUrl }}"
                          sizes="(max-width: 479px) 92vw, (max-width: 767px) 45vw, (max-width: 996px) 32vw, 22vw"
                          class="product-image hover-image"
                        />
                      </div>
                      <h5 class="product-heading">{{ tempProduct?.name }}</h5>
                      <div class="product-price">
                        {{ tempProduct?.unitPrice | currency: "USD" }}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
