<section class="section margin-tb-9-5" style="scroll-behavior: smooth">
  <div class="container">
    <div class="dynamic-list">
      <div class="category-header">
        <h2>Large & Extra Large</h2>
      </div>
      <div role="list" class="dynamic-items">
        <div role="listitem" class="dynamic-item">
          <div
            class="flex-wrapper reverse-wrap"
            style="padding-left: 2em; padding-right: 2em"
          >
            <div class="inner-padding-right">
              <div class="sticky-section">
                <div class="dynamic-list">
                  <app-product-category-menu></app-product-category-menu>
                  <app-search-box></app-search-box>
                </div>
              </div>
            </div>
            <div style="width: 100%">
              <div class="dynamic-list">
                <div
                  role="list"
                  class="product-grid-twos sidebar dynamic-items"
                >
                  <div
                    role="listitem"
                    class="dynamic-item"
                    *ngFor="let tempProduct of products"
                  >
                    <a href="/" class="product-link inline-block"
                      ><div class="product-link-image-wrapper">
                        <img
                          src="{{ tempProduct?.imageUrl }}"
                          sizes="(max-width: 479px) 92vw, (max-width: 767px) 45vw, (max-width: 996px) 32vw, 22vw"
                          class="product-image hover-image"
                        />
                      </div>
                      <h5 class="product-heading">{{ tempProduct?.name }}</h5>
                      <div class="product-price">
                        {{ tempProduct?.unitPrice | currency: "USD" }}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
