<section class="section call-to-action">
  <div class="call-to-action-image-wrapper">
    <div class="call-to-action-image-container _1">
      <img
        src="assets/images/site/ceyda-ciftci-unsplash.jpg"
        loading="lazy"
        width="150"
        class="call-to-action-image"
      />
    </div>
    <div class="call-to-action-image-container _2">
      <img
        src="assets/images/site/kendal-unsplash.jpg"
        loading="lazy"
        width="160"
        class="call-to-action-image"
      />
    </div>
    <div class="call-to-action-image-container _3">
      <img
        src="assets/images/site/ren-ran-unsplash.jpg"
        loading="lazy"
        width="130"
        class="call-to-action-image"
      />
    </div>
  </div>
  <div class="container relative">
    <div class="heading-wrapper-centered no-padding-bottom">
      <h2>
        A love for nature and a little bit of a green thumb can change the way
        that we feel about our environment.
      </h2>
      <div class="button-wrapper">
        <a routerLink="/shop" class="button inline-block"
          ><div class="button-text">Shop Now</div>
          <i class="ph ph-arrow-right-bold"></i>
        </a>
      </div>
    </div>
  </div>
</section>
