.flex-wrapper {
  display: flex;
}
.inner-padding-right {
  padding-right: 5em;
}
.column-50 {
  position: relative;
  width: 50%;
}
.sticky-section {
  position: sticky;
  top: 80px;
}
.all-caps {
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
.product-rich-text:after,
.product-rich-text:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.button.outline {
  background-color: transparent;
  color: #212806;
}
.column-50 {
  position: relative;
  width: 50%;
}
.image-wrapper {
  height: 520px;
  overflow: hidden;
}
.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  padding: 8px;
  transition: transform 0.4s ease-in-out;
  background-color: #f8f8f8 !important;
  border-color: #ddd #ddd #f1f1f1;
  box-shadow: 0 2px 0 hsla(0, 0%, 68.6%, 0.12);
}
.div-absolute.journal-circle {
  left: auto;
  top: -75px;
  right: -75px;
  bottom: auto;
}
.div-absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.circle-image {
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 962px) {
  .container {
    padding-right: 3.5em;
    padding-left: 3.5em;
  }
  .flex-wrapper {
    display: flex;
    width: 100%;
    margin-right: 28px;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 auto;
  }
  .column-50 {
    width: 100%;
  }
  .inner-padding-right {
    padding-right: unset;
  }
  .sticky-section {
    margin-bottom: 2em;
  }
}
