<div class="ecommerce-cart-wrapper cart" *ngIf="showCart">
  <div
    style="opacity: 1; transition: opacity 300ms"
    class="ecommerce-cart-container-wrapper ecommerce-cart-container-wrapper-cart-type-right-side cart-wrapper"
  >
    <div class="ecommerce-cart-container cart-container">
      <div class="ecommerce-cart-header cart-header">
        <h4 class="ecommerce-cart-heading">Cart Details</h4>
        <div
          style="cursor: pointer"
          class="ecommerce-cart-close-link cart-close-button"
          (click)="cartDisplayStatus(false)"
        >
          <div>Close</div>
          <i
            class="ph ph-x-bold"
            style="text-align: center; font-size: 0.84em"
          ></i>
        </div>
      </div>
      <div class="ecommerce-cart-form-wrapper cart-form-wrapper">
        <form
          *ngIf="cartItems?.length! > 0"
          class="ecommerce-cart-form cart-default-state"
        >
          <div id="target" class="ecommerce-cart-list cart-list">
            <div
              class="ecommerce-cart-item cart-item"
              *ngFor="let tempCartItem of cartItems"
            >
              <div class="cart-image-wrapper">
                <img
                  src="{{ tempCartItem?.imageUrl }}"
                  class="ecommerce-cart-item-image cart-product-image"
                />
              </div>
              <div class="ecommerce-cart-item-info">
                <div>
                  <h5 class="cart-item-header">{{ tempCartItem.name }}</h5>
                  <p class="cart-item-details">
                    {{ tempCartItem?.description }}
                  </p>
                  <div style="margin-bottom: 12px">
                    {{ tempCartItem?.unitPrice | currency: "USD" }}
                  </div>
                  <div class="cart-quantity-wrapper">
                    <div>
                      <div
                        class="value-button"
                        id="decrease"
                        (click)="decrementQuantity(tempCartItem)"
                        value="Decrease Value"
                      >
                        -
                      </div>
                      <input
                        disabled
                        type="number"
                        id="number"
                        value="{{ tempCartItem.quantity! }}"
                      />
                      <div
                        class="value-button"
                        id="increase"
                        (click)="incrementQuantity(tempCartItem)"
                        value="Increase Value"
                      >
                        +
                      </div>
                    </div>

                    <button
                      (click)="remove(tempCartItem)"
                      class="button inline-block"
                      style="padding: 0.4em 0.6em 0.4em"
                    >
                      <div class="button-text">Remove</div>
                    </button>
                  </div>
                </div>
              </div>
              <div>
                <div class="">Qty: {{ tempCartItem?.quantity }}</div>
                <div class="">
                  Sub:
                  {{
                    tempCartItem.quantity! * tempCartItem.unitPrice!
                      | currency: "USD"
                  }}
                </div>
              </div>
            </div>
          </div>
          <div class="ecommerce-cart-footer cart-footer">
            <div class="ecommerce-cart-line-item cart-line-item">
              <div class="feature-paragraph">Qty:</div>
              <div class="ecommerce-cart-order-value cart-price">
                {{ totalQuantity }}
              </div>
            </div>

            <div class="ecommerce-cart-line-item cart-line-item">
              <div class="feature-paragraph">Total:</div>
              <div class="ecommerce-cart-order-value cart-price">
                {{ totalPrice | currency: "USD" }}
              </div>
            </div>
            <div>
              <div
                class="button-wrapper"
                style="padding-top: 1.5em; padding-bottom: 1.5em"
              >
                <a
                  routerLink="/checkout"
                  class="button inline-block"
                  (click)="cartDisplayStatus(false)"
                  ><div class="button-text">Continue to Checkout</div>
                  <i class="ph ph-arrow-right-bold"></i>
                </a>
              </div>
            </div>
          </div>
        </form>
        <div
          *ngIf="cartItems?.length! == 0"
          class="alert"
          style="
            display: block;
            width: 84%;
            margin: 0 auto;
            font-size: 1.23em;
            border: 1px solid #cdc3918c;
            background-color: #cdc3913a;
            padding: 20px 40px;
            margin-top: 4rem;
            color: #cdc391;
            line-height: 32px;
          "
        >
          Your shopping cart is empty.
        </div>
      </div>
    </div>
  </div>
</div>
