<section class="section margin-bottom-9-5">
  <div class="container">
    <div class="inner-spacing category-section-container">
      <div class="category-section-content-wrapper">
        <div>
          <h3>Shop by Category</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
          </p>
          <div class="button-wrapper">
            <a href="/" class="button inline-block"
              ><div class="button-text">Shop Now</div>
              <i class="ph ph-arrow-right-bold"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="category-sections">
        <div role="list" class="grid-4-column dynamic-items">
          <div role="listitem" class="category-item dynamic-item">
            <a href="/" class="category-link-block inline-block"
              ><div class="category-image-wrapper">
                <img
                  src="assets/images/categories/ceyda-ciftci-unsplash.jpg"
                  loading="lazy"
                  class="category-image"
                />
              </div>
              <div
                style="background-color: #894230"
                class="category-content-wrapper"
              >
                <h4 class="product-title" style="color: var(--alfalfa)">
                  Home & Indoor
                </h4>
              </div></a
            >
          </div>
          <div role="listitem" class="category-item dynamic-item">
            <a href="/" class="category-link-block inline-block"
              ><div class="category-image-wrapper">
                <img
                  src="assets/images/categories/sarah-dorweiler-unsplash.jpg"
                  loading="lazy"
                  class="category-image"
                />
              </div>
              <div
                style="background-color: #ebebeb"
                class="category-content-wrapper"
              >
                <h4 class="product-title">Low Maintenance</h4>
              </div></a
            >
          </div>
          <div role="listitem" class="category-item dynamic-item">
            <a href="/" class="category-link-block inline-block"
              ><div class="category-image-wrapper">
                <img
                  src="assets/images/categories/skyler-smith-unsplash.jpg"
                  loading="lazy"
                  class="category-image"
                />
              </div>
              <div
                style="background-color: #9d8a83"
                class="category-content-wrapper"
              >
                <h4 class="product-title" style="color: var(--alfalfa)">
                  Large & Extra Large
                </h4>
              </div></a
            >
          </div>
          <div role="listitem" class="category-item dynamic-item">
            <a href="/" class="category-link-block inline-block"
              ><div class="category-image-wrapper">
                <img
                  src="assets/images/categories/vadim-kaipov-unsplash.jpg"
                  loading="lazy"
                  class="category-image"
                />
              </div>
              <div
                style="background-color: #166408"
                class="category-content-wrapper"
              >
                <h4 class="product-title" style="color: var(--alfalfa)">
                  Animal Friendly
                </h4>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
