<section class="section margin-top-9-5">
  <div class="container no-padding-mobile">
    <div class="inner-spacing">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="checkoutFormGroup!"
        class="product-description-wrapper"
      >
        <div class="product-description-images-wrapper">
          <div class="ecommerce-checkout-layout-main checkout-column-left">
            <!--customer form group-->
            <div
              formGroupName="customer"
              class="ecommerce-checkout-customer-info-wrapper"
            >
              <div class="ecommerce-checkout-block-header block-header">
                <h4>Customer Information</h4>
              </div>
              <fieldset class="ecommerce-checkout-block-content block-content">
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >First Name *</label
                    ><input
                      formControlName="firstName"
                      type="text"
                      class="ecommerce-checkout-shipping-city checkout-input"
                    />
                    <div
                      *ngIf="
                        firstName?.invalid &&
                        (firstName?.dirty || firstName?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                      >
                        First name is required.</span
                      >
                      <span
                        *ngIf="firstName?.errors?.['minlength']  || firstName?.errors?.['notOnlyWhitespace']"
                      >
                        First name must be at least 2 characters long.
                      </span>
                    </div>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Last Name *</label
                    ><input
                      formControlName="lastName"
                      type="text"
                      class="ecommerce-checkout-shipping-state-province checkout-input"
                    />
                    <div
                      *ngIf="
                        lastName?.invalid &&
                        (lastName?.dirty || lastName?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="lastName?.errors?.['required']  || lastName?.errors?.['notOnlyWhitespace']"
                      >
                        Last name is required.</span
                      >
                      <span
                        *ngIf="lastName?.errors?.['minlength']  || lastName?.errors?.['notOnlyWhitespace']"
                      >
                        Last name must be at least 2 characters long.
                      </span>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="ecommerce-checkout-block-content block-content">
                <label class="ecommerce-checkout-label checkout-label"
                  >Email Address *</label
                ><input
                  formControlName="email"
                  type="text"
                  class="ecommerce-checkout-email-input checkout-input"
                />
                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="validation-msg"
                >
                  <span *ngIf="email?.errors?.['required']">
                    Email is required.</span
                  >
                  <span *ngIf="email?.errors?.['pattern']">
                    Email must be a valid email address.
                  </span>
                </div>
              </fieldset>
            </div>
            <!--shipping form group-->
            <div
              formGroupName="shippingAddress"
              class="ecommerce-checkout-shipping-address-wrapper"
            >
              <div class="ecommerce-checkout-block-header block-header">
                <h4>Shipping Address</h4>
              </div>
              <fieldset class="ecommerce-checkout-block-content block-content">
                <label class="ecommerce-checkout-label checkout-label"
                  >Street Address *</label
                ><input
                  type="text"
                  formControlName="street"
                  class="ecommerce-checkout-shipping-street-address checkout-input"
                />
                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="validation-msg"
                >
                  <span
                    *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']"
                  >
                    Street is required.</span
                  ><span
                    *ngIf="shippingAddressStreet?.errors?.['minlength']  || shippingAddressStreet?.errors?.['notOnlyWhitespace']"
                  >
                    Street must be at least 2 characters long.
                  </span>
                </div>
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Country *</label
                    ><select
                      formControlName="country"
                      (change)="getStates('shippingAddress')"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option
                        *ngFor="let country of countries"
                        [ngValue]="country"
                      >
                        {{ country.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        shippingAddressCountry?.invalid &&
                        (shippingAddressCountry?.dirty ||
                          shippingAddressCountry?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="shippingAddressCountry?.errors?.['required'] || shippingAddressCountry?.errors?.['notOnlyWhitespace']"
                      >
                        Country is required.</span
                      >
                    </div>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >State/Province</label
                    ><select
                      formGroupName="state"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option
                        *ngFor="let state of shippingAddressStates"
                        [ngValue]="state"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        shippingAddressState?.invalid &&
                        (shippingAddressState?.dirty ||
                          shippingAddressState?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="shippingAddressState?.errors?.['required'] || shippingAddressState?.errors?.['notOnlyWhitespace']"
                      >
                        State is required.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >City *</label
                    ><input
                      type="text"
                      formControlName="city"
                      class="ecommerce-checkout-shipping-city checkout-input"
                    />
                    <div
                      *ngIf="
                        shippingAddressCity?.invalid &&
                        (shippingAddressCity?.dirty ||
                          shippingAddressCity?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']"
                      >
                        City is required.</span
                      ><span
                        *ngIf="shippingAddressCity?.errors?.['minlength']  || shippingAddressCity?.errors?.['notOnlyWhitespace']"
                      >
                        City must be at least 2 characters long.
                      </span>
                    </div>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Zip/Postal Code *</label
                    ><input
                      type="text"
                      formControlName="zipCode"
                      class="ecommerce-checkout-shipping-state-province checkout-input"
                    />
                    <div
                      *ngIf="
                        shippingAddressZipCode?.invalid &&
                        (shippingAddressZipCode?.dirty ||
                          shippingAddressZipCode?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']"
                      >
                        Zip code is required.</span
                      ><span
                        *ngIf="shippingAddressZipCode?.errors?.['minlength']  || shippingAddressZipCode?.errors?.['notOnlyWhitespace']"
                      >
                        Zip code must be at least 2 characters long.
                      </span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--checkbox-->
            <div class="billing-address-toggle">
              <input
                type="checkbox"
                id="billing-address-toggle"
                style="margin-right: 12px"
                (change)="copyShippingAddressToBillingAddress($event)"
              /><label
                for="billing-address-toggle"
                class="small-text no-margin-bottom"
                >Billing address same as shipping</label
              >
            </div>
            <!--billing form group-->
            <div
              formGroupName="billingAddress"
              class="ecommerce-checkout-shipping-address-wrapper"
            >
              <div class="ecommerce-checkout-block-header block-header">
                <h4>Billing Address</h4>
              </div>
              <fieldset class="ecommerce-checkout-block-content block-content">
                <label class="ecommerce-checkout-label checkout-label"
                  >Street Address *</label
                ><input
                  type="text"
                  formControlName="street"
                  class="ecommerce-checkout-shipping-street-address checkout-input"
                />
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="validation-msg"
                >
                  <span
                    *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']"
                  >
                    Street is required.</span
                  ><span
                    *ngIf="billingAddressStreet?.errors?.['minlength']  || billingAddressStreet?.errors?.['notOnlyWhitespace']"
                  >
                    Street must be at least 2 characters long.
                  </span>
                </div>
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Country *</label
                    ><select
                      formControlName="country"
                      (change)="getStates('billingAddress')"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option
                        *ngFor="let country of countries"
                        [ngValue]="country"
                      >
                        {{ country.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        billingAddressCountry?.invalid &&
                        (billingAddressCountry?.dirty ||
                          billingAddressCountry?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="billingAddressCountry?.errors?.['required'] || billingAddressCountry?.errors?.['notOnlyWhitespace']"
                      >
                        Country is required.</span
                      >
                    </div>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >State/Province</label
                    ><select
                      formGroupName="state"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option
                        *ngFor="let state of billingAddressStates"
                        [ngValue]="state"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        billingAddressState?.invalid &&
                        (billingAddressState?.dirty ||
                          billingAddressState?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="billingAddressState?.errors?.['required'] || billingAddressCountry?.errors?.['notOnlyWhitespace']"
                      >
                        State is required.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >City *</label
                    ><input
                      type="text"
                      formControlName="city"
                      class="ecommerce-checkout-shipping-city checkout-input"
                    />
                    <div
                      *ngIf="
                        billingAddressCity?.invalid &&
                        (billingAddressCity?.dirty ||
                          billingAddressCity?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']"
                      >
                        City is required.</span
                      ><span
                        *ngIf="billingAddressCity?.errors?.['minlength']  || billingAddressCity?.errors?.['notOnlyWhitespace']"
                      >
                        City must be at least 2 characters long.
                      </span>
                    </div>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Zip/Postal Code *</label
                    ><input
                      type="text"
                      formControlName="zipCode"
                      class="ecommerce-checkout-shipping-state-province checkout-input"
                    />
                    <div
                      *ngIf="
                        billingAddressZipCode?.invalid &&
                        (billingAddressZipCode?.dirty ||
                          billingAddressZipCode?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']"
                      >
                        Zip code is required.</span
                      ><span
                        *ngIf="billingAddressZipCode?.errors?.['minlength']  || billingAddressZipCode?.errors?.['notOnlyWhitespace']"
                      >
                        Zip code must be at least 2 characters long.
                      </span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--payment form group-->
            <div
              formGroupName="creditCard"
              class="ecommerce-checkout-payment-info-wrapper"
            >
              <div class="ecommerce-checkout-block-header block-header">
                <h4>Payment Info</h4>
                <img
                  src="assets/images/site/payment_methods.svg"
                  loading="lazy"
                  class="payment-method"
                />
              </div>
              <fieldset class="ecommerce-checkout-block-content block-content">
                <label class="ecommerce-checkout-label checkout-label"
                  >Name on Card *</label
                ><input
                  type="text"
                  formControlName="nameOnCard"
                  class="ecommerce-checkout-shipping-street-address-optional checkout-input"
                />
                <div
                  *ngIf="
                    creditCardNameOnCard?.invalid &&
                    (creditCardNameOnCard?.dirty ||
                      creditCardNameOnCard?.touched)
                  "
                  class="validation-msg"
                >
                  <span
                    *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']"
                  >
                    Name on card is required.</span
                  ><span
                    *ngIf="creditCardNameOnCard?.errors?.['minlength']  || creditCardNameOnCard?.errors?.['notOnlyWhitespace']"
                  >
                    Name on card must be at least 2 characters long.
                  </span>
                </div>
                <label class="ecommerce-checkout-label checkout-label"
                  >Card Number *</label
                ><input
                  type="text"
                  formControlName="cardNumber"
                  class="ecommerce-checkout-shipping-street-address-optional checkout-input"
                />
                <div
                  *ngIf="
                    creditCardNumber?.invalid &&
                    (creditCardNumber?.dirty || creditCardNumber?.touched)
                  "
                  class="validation-msg"
                >
                  <span
                    *ngIf="creditCardNumber?.errors?.['required'] || creditCardNumber?.errors?.['notOnlyWhitespace']"
                  >
                    Card number is required.</span
                  ><span *ngIf="creditCardNumber?.errors?.['pattern']">
                    Card number must be 16 digits.
                  </span>
                </div>
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Security Code *</label
                    ><input
                      type="text"
                      formControlName="securityCode"
                      class="ecommerce-checkout-shipping-street-address-optional checkout-input"
                    />
                    <div
                      *ngIf="
                        creditCardSecurityCode?.invalid &&
                        (creditCardSecurityCode?.dirty ||
                          creditCardSecurityCode?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="creditCardSecurityCode?.errors?.['required'] || creditCardSecurityCode?.errors?.['notOnlyWhitespace']"
                      >
                        Security code is required.</span
                      ><span
                        *ngIf="creditCardSecurityCode?.errors?.['pattern']"
                      >
                        Security code must be 3 digits long.
                      </span>
                    </div>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Card Type *</label
                    ><select
                      formControlName="cardType"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option>Visa</option>
                      <option>American Express</option>
                      <option>Master Card</option>
                    </select>
                    <div
                      *ngIf="
                        creditCardType?.invalid &&
                        (creditCardType?.dirty || creditCardType?.touched)
                      "
                      class="validation-msg"
                    >
                      <span
                        *ngIf="creditCardType?.errors?.['required'] || creditCardType?.errors?.['notOnlyWhitespace']"
                      >
                        Credit card type is required.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="ecommerce-checkout-row">
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Expiration Month *</label
                    ><select
                      formGroupName="expirationMonth"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option *ngFor="let month of creditCardMonths">
                        {{ month }}
                      </option>
                    </select>
                  </div>
                  <div class="ecommerce-checkout-column">
                    <label class="ecommerce-checkout-label checkout-label"
                      >Expiration Year *</label
                    ><select
                      formGroupName="expirationMonth"
                      class="ecommerce-checkout-shipping-country-selector checkout-input"
                    >
                      <option *ngFor="let year of creditCardYears">
                        {{ year }}
                      </option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="product-description-content-wrapper">
          <div
            class="ecommerce-layout-sidebar checkout-column-right no-padding-lr"
          >
            <div class="checkout-info-wrapper">
              <div
                class="ecommerce-checkout-order-itemswrapper padding-lr-1 no-margin-bottom desktop-only"
              >
                <div class="block-header">
                  <h4 class="no-margin-bottom">Order Summary</h4>
                </div>
                <fieldset
                  class="ecommerce-checkout-block-content block-content"
                >
                  <div
                    class="ecommerce-checkout-order-items-list order-item-list"
                  >
                    <div class="ecommerce-checkout-order-item order-item">
                      <div class="checkout-image-wrapper">
                        <img
                          src="assets/images/site/ceyda-ciftci-unsplash.jpg"
                          class="ecommerce-cart-item-image order-product-image"
                        />
                      </div>
                      <div
                        class="ecommerce-checkout-order-item-description-wrapper"
                      >
                        <div
                          class="ecommerce-checkout-order-item-quantity-wrapper align-start"
                        >
                          <h5>Sample Product</h5>
                          <div
                            class="product-cart-quantity"
                            style="font-size: 0.8em"
                          >
                            <div class="small-text">X&nbsp;</div>
                            <div class="small-text">1</div>
                          </div>
                        </div>
                      </div>
                      <div class="product-price">$&nbsp;4.00&nbsp;</div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="padding-lr-1 order-summary">
                <fieldset
                  class="ecommerce-checkout-block-content block-content"
                >
                  <div class="ecommerce-checkout-summary-line-item line-item">
                    <div class="small-text">Quantity:</div>
                    <div class="product-price">{{ totalQuantity }} items</div>
                  </div>
                  <div class="ecommerce-checkout-summary-line-item line-item">
                    <div class="small-text">Shipping:</div>
                    <div class="product-price">FREE</div>
                  </div>
                  <div class="ecommerce-checkout-summary-line-item line-item">
                    <div class="small-text">Total:</div>
                    <div class="product-price">
                      {{ totalPrice | currency: "USD" }}
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="padding-lr-1">
                <div class="button-wrapper">
                  <button class="button outline inline-block" type="submit">
                    <div class="button-text">Complete Purchase</div>
                    <i class="ph ph-arrow-right-bold"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
