<section class="section margin-tb-9-5" style="scroll-behavior: smooth">
  <div class="container">
    <div
      class="flex-wrapper reverse-wrap"
      style="padding-left: 2em; padding-right: 2em"
    >
      <div class="inner-padding-right">
        <div class="sticky-section">
          <div class="dynamic-list">
            <app-product-category-menu></app-product-category-menu>
            <app-search-box></app-search-box>
          </div>
        </div>
      </div>
      <div style="width: 100%">
        <div class="dynamic-list">
          <div role="list" class="product-grid-twos sidebar dynamic-items">
            <div
              role="listitem"
              class="dynamic-item"
              style="text-align: center"
              *ngFor="let tempProduct of products"
            >
              <a
                routerLink="/products/{{ tempProduct.id }}"
                class="product-link inline-block"
                ><div class="product-link-image-wrapper">
                  <img
                    src="{{ tempProduct?.imageUrl }}"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 45vw, (max-width: 996px) 32vw, 22vw"
                    class="product-image hover-image"
                  />
                </div>
                <h5 class="product-heading">{{ tempProduct?.name }}</h5>
                <div class="product-price">
                  {{ tempProduct?.unitPrice | currency: "USD" }}
                </div>
              </a>
              <div class="button-wrapper" style="padding-top: 1em">
                <button
                  class="button inline-block"
                  style="text-align: center; justify-content: center"
                >
                  <div class="button-text">Add to cart</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="products?.length == 0"
          class="alert"
          style="
            display: block;
            width: 100%;
            font-size: 1.23em;
            border: 1px solid #cdc3918c;
            background-color: #cdc3913a;
            padding: 20px 40px;
            color: #cdc391;
            line-height: 32px;
          "
        >
          No products found.
        </div>
        <div class="footer-pagination">
          <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [maxSize]="4"
            [boundaryLinks]="true"
            [collectionSize]="theTotalElements"
            (pageChange)="listProducts()"
          >
          </ngb-pagination>

          <div>
            <span style="margin-right: 12px">Page Size</span>
            <select (change)="updatePageSize($event)" class="quantity-select">
              <option selected="true">6</option>
              <option>9</option>
              <option>12</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
