.shop-sidebar-layout {
  display: grid;
  justify-content: space-around;
  -webkit-align-items: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 0.33fr 1fr;
  grid-template-rows: auto;
}
.sidebar {
  position: sticky;
  top: 94px;
}
.product-grid-twos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.product-link {
  display: flex;
  color: var(--jadeGreen);
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  perspective: 1000px;
}
.product-link-image-wrapper {
  height: 420px;
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 12px;
  padding: 8px;
  transition: transform 0.4s ease-in-out;
  background-color: #f8f8f8 !important;
  border-color: #ddd #ddd #f1f1f1;
  box-shadow: 0 2px 0 hsla(0, 0%, 68.6%, 0.12);
}
.product-link-image-wrapper:hover {
  transform: scale(1.08);
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}
.product-heading {
  margin-bottom: 4px;
}
h5.product-heading {
  font-size: 1.3528em;
  font-family: var(--header-font);
}
.section.margin-tb-9-5 {
  padding-top: 9.5em;
  padding-bottom: 9.5em;
}
.flex-wrapper {
  display: flex;
}
.inner-padding-right {
  padding-right: 3em;
}
.sticky-section {
  position: sticky;
  top: 80px;
  margin-right: 20px;
}
.category-header {
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 2em;
  margin-bottom: 26px;
}
.footer-pagination {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 12rem;
  align-items: center;
}
select.quantity-select {
  color: #212806;
  border-radius: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  padding: 0.6em 2.18em 0.6em 0.6em;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256"%3E%3Cpath d="M213.7 101.7l-80 80a8.2 8.2 0 0 1-11.4 0l-80-80a8.4 8.4 0 0 1-1.7-8.8A8 8 0 0 1 48 88h160a8 8 0 0 1 7.4 4.9a8.4 8.4 0 0 1-1.7 8.8z" fill="currentColor"%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: right 4px center, right bottom, right bottom,
    right bottom;
  border-color: #dee2e6;
}
ngb-pagination ::ng-deep ul {
  margin-bottom: 0 !important;
}
ngb-pagination ::ng-deep ul li a.page-link {
  padding: 0.6em 1.5em 0.6em;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 40px !important;
}
ngb-pagination ::ng-deep a.page-link {
  color: var(--granite);
}
ngb-pagination ::ng-deep .page-item.active a.page-link {
  background-color: var(--granite);
  border-color: var(--granite);
  color: var(--alfalfa);
}

@media screen and (max-width: 991px) {
  .product-grid-twos.sidebar.dynamic-items {
    grid-template-columns: 1fr;
  }
  .product-grid-twos {
    grid-template-columns: 1fr;
  }
}
